@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar" style="width: 270px;">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="about-us" style=" padding:10px; color:white; font-weight:bold; background-color:#8B171A">About</a>
        </div>

        <article class="content px-4 " style="background-image: url('/Images/bg2.jfif'); background-size: cover; background-position: center; min-height: 100vh; position: relative;">
                @Body
        </article>

    </main>
</div>
